<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="MiCadenaDeConexion"
             connectionString="Server=sql.bsite.net\MSSQL2016;Database=segurosselers_;User Id=segurosselers_;Password=seguros1234;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>